* {
  box-sizing:border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

/* body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1rem; 
  line-height: 1.5rem;
  font-weight: 400;
  color: #fff;
 
} */

/* ----> wrapper */
#content-slider .slider-wrap {
  max-width: 1900px;
  width: 100%;
  margin: 0px auto;
  position: relative;
  text-align: right;
}

#content-slider .slider-wrap.full {
  width: 100%;
  max-width: 100%;
  text-align: center; 
  border: none;
}


/* --------> Link style */
#content-slider *:focus {
  outline: 0;
} 

#content-slider a:hover {
  color: #7FD4FD;
  text-decoration: underline;
}

#content-slider a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#content-slider a:hover,
#content-slider a:active {
  outline: 0;
}

/* -------> Responsive images (ensure images don't scale beyond their parents) */
#content-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  border: 0;
}

/* -------> Main */
#content-slider .slider {
  overflow: hidden;
  width: 100%;
  height: 35rem;
  margin: 0 auto;       

  position: relative;               
}

#content-slider .slider-inner {
  width: 500%;          
  line-height: 0;
  display: flex;
  height: 100%;

  animation: 30s slidy infinite;
  transition: all 2s ease-in-out; 
}

#content-slider .slider-main-title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;          
  line-height: 3rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

#content-slider .slider .slider-head {
  position: absolute;
  z-index: 12;
  width: 40%;
  height: auto;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 1rem;
  margin: 1rem 0 0 1rem;
  overflow: hidden;

  transition: all 0.5s ease-in-out; 
}

#content-slider .slider-thumb .slider-head {
  position: absolute;
  z-index: 12;                      
  top: 0;
  right: 0;
  width: auto;
  height: auto;  
  text-align: right;
  margin: .5rem .5rem 0 0;
  opacity: 1;
  overflow: hidden;

  transition: all 0.5s ease-in-out;
}

/* -------> Article */
#content-slider .slider h2,
#content-slider .slider-thumb h2 {
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

#content-slider .slider p,
#content-slider .slider-thumb p {
  color: #fffefe;
  padding: 0;
  margin: 0 0 1rem;
  opacity: .8;
  line-height: 1.2;
}

#content-slider .slider a,
#content-slider .slider-thumb a {
  font-weight: 700;
  color: #00ABFA;
  text-decoration: none;
  line-height: 1.2;
}

/* -------> Article IMg Slider */
#content-slider .slider h1 { font-size: 1.5rem; line-height: 1.2; }

#content-slider .slider p { font-size: 1.2rem; line-height: 1.2; }

#content-slider .slider a { font-size: 1rem; line-height: 1.2; }

/* -------> Article IMg Prev */
#content-slider .slider-thumb h2 { font-size: 1rem; line-height: 1.2; }

#content-slider .slider-thumb p { font-size: .875rem; line-height: 1.2; }

#content-slider .slider-thumb a { font-size: .75rem; line-height: 1.2; }


/* -------> Main Img */
#content-slider figure {
  margin: 0;
  padding: 0;
  width: 20%;
  cursor: pointer;

  transition: all 2s ease-in-out; 
}

#content-slider figure img {
  width: 100%;
  position: relative;
}   

/* -------> Max contrls img preview */ 
#content-slider .slider-thumb {
  width: 25%;
  margin: 35rem 0% 0 0%;
  text-align: center;
  display: block;
  z-index: 1000;
  cursor: pointer;
  position: absolute;
}

#content-slider .slider-thumb:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .55;
  transition: all .2s ease-in-out;
}

#content-slider .slider-thumb:hover:after {
  opacity: 0;
}

#thumb-1 { left: 0; }
#thumb-2 { left: 25%; }
#thumb-3 { left: 50%; }
#thumb-4 { left: 75%; }

#content-slider input[type='radio'] {           
  width: 10px;
  height: 10px;
  position: absolute;
  display: none;
}

#content-slider .slider-arrow-control {                   
  position: absolute;
  left: 0;
  z-index: 15;          
  top: 0%;
  width: 100%;
  height: 3.125rem;
  top: 50%;
  transform: translateY(-50%);
}

#content-slider .slider-dot {
  width: 9px;
  height: 9px;
  margin: 0 2px;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid #00ABFA;
  background: #00ABFA;

  transition: all 0.3s ease-in-out; 
}

#content-slider .slider-dot-control {
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
  z-index: 10;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  font-size: 0;
  line-height: 0;
}   

#content-slider .slider-dot-control>label:hover { 
  width: 9px; 
  height: 9px; 
  background: #FFF; 
  border: 1px solid #00ABFA; 
}     


/* -------> Controls */ 


#input-1:checked ~ .slider .slider-inner { margin-left: 0%;   }
#input-2:checked ~ .slider .slider-inner { margin-left:-100%; }
#input-3:checked ~ .slider .slider-inner { margin-left:-200%; }
#input-4:checked ~ .slider .slider-inner { margin-left:-300%; }
#input-5:checked ~ .slider .slider-inner { margin-left:-400%; }


#input-1:checked ~ .slider-dot-control>label:nth-child(1) { opacity: 1; background: #fff; }
#input-2:checked ~ .slider-dot-control>label:nth-child(2) { opacity: 1; background: #fff; }
#input-3:checked ~ .slider-dot-control>label:nth-child(3) { opacity: 1; background: #fff; }
#input-4:checked ~ .slider-dot-control>label:nth-child(4) { opacity: 1; background: #fff; }


#input-1:checked ~ #thumb-1:after { opacity: 0; }
#input-2:checked ~ #thumb-2:after { opacity: 0; }
#input-3:checked ~ #thumb-3:after { opacity: 0; }
#input-4:checked ~ #thumb-4:after { opacity: 0; }


.slider-arrow-control>label:nth-child(2) {
  width: 3.125rem;
  height: 3.125rem;
  top: 50%;
  margin-top: -1.5625rem;
  display: inline-block;
  position: relative;           
  cursor: pointer;
}

#input-1:checked ~ .slider-arrow-control>label:nth-child(2),
#input-2:checked ~ .slider-arrow-control>label:nth-child(3),
#input-3:checked ~ .slider-arrow-control>label:nth-child(4),
#input-4:checked ~ .slider-arrow-control>label:nth-child(1),
#input-5:checked ~ .slider-arrow-control>label:nth-child(1),
#input-1:checked ~ .slider-arrow-control>label:nth-child(4),
#input-2:checked ~ .slider-arrow-control>label:nth-child(1),
#input-3:checked ~ .slider-arrow-control>label:nth-child(2),
#input-4:checked ~ .slider-arrow-control>label:nth-child(3) {
  width: 3.125rem;
  height: 3.125rem;
  top: 50%;
  margin-top: -1.5625rem;
  display: inline-block;
  position: relative;           
  cursor: pointer;
}

#input-1:checked ~ .slider-arrow-control>label:nth-child(2):after,
#input-2:checked ~ .slider-arrow-control>label:nth-child(3):after,
#input-3:checked ~ .slider-arrow-control>label:nth-child(4):after,
#input-4:checked ~ .slider-arrow-control>label:nth-child(1):after,
#input-5:checked ~ .slider-arrow-control>label:nth-child(1):after,
#input-1:checked ~ .slider-arrow-control>label:nth-child(4):after,
#input-2:checked ~ .slider-arrow-control>label:nth-child(1):after,
#input-3:checked ~ .slider-arrow-control>label:nth-child(2):after,
#input-4:checked ~ .slider-arrow-control>label:nth-child(3):after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.125rem;
  line-height: 3.125rem;
  color: #00ABFA;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 3.125rem;
  background: rgba(0,0,0,.5);
}

#input-1:checked ~ .slider-arrow-control>label:nth-child(2),  
#input-2:checked ~ .slider-arrow-control>label:nth-child(3), 
#input-3:checked ~ .slider-arrow-control>label:nth-child(4), 
#input-4:checked ~ .slider-arrow-control>label:nth-child(1) {       
  float: right;
  right: 0;                      
}

#input-1:checked ~ .slider-arrow-control>label:nth-child(2):after,  
#input-2:checked ~ .slider-arrow-control>label:nth-child(3):after, 
#input-3:checked ~ .slider-arrow-control>label:nth-child(4):after, 
#input-4:checked ~ .slider-arrow-control>label:nth-child(1):after {
  content: "\f054";                     
}

#input-1:checked ~ .slider-arrow-control>label:nth-child(4),
#input-2:checked ~ .slider-arrow-control>label:nth-child(1),
#input-3:checked ~ .slider-arrow-control>label:nth-child(2),
#input-4:checked ~ .slider-arrow-control>label:nth-child(3) {   
  float: left;
  left: 0;           
}

#input-1:checked ~ .slider-arrow-control>label:nth-child(4):after,
#input-2:checked ~ .slider-arrow-control>label:nth-child(1):after,
#input-3:checked ~ .slider-arrow-control>label:nth-child(2):after,
#input-4:checked ~ .slider-arrow-control>label:nth-child(3):after {
  content: "\f053";
}

/*#thumb-1:focus ~ .slider-inner { margin-left: 0%;   }
#thumb-2:focus ~ .slider-inner { margin-left:-100%; }
#thumb-3:focus ~ .slider-inner { margin-left:-200%; }
#thumb-4:focus ~ .slider-inner { margin-left:-300%; }
#thumb-5:focus ~ .slider-inner { margin-left:-400%; }*/

#content-slider input:checked ~ .slider-inner {
  animation: none;         
}
#content-slider input:hover ~ .slider-inner, 
#content-slider label:hover ~ .slider-inner {
  animation-play-state: paused;
}
#content-slider input:hover ~ .slider-inner, 
#content-slider label:hover ~ .slider-inner {
  animation-play-state: paused;
}
#content-slider span:focus ~ .slider-inner {
  animation: none;         
}
#content-slider span:hover ~ .slider-inner {
  animation-play-state: paused;
}


/* -------> Animation */
/*
@keyframes slidy {
20% { margin-left:    0%; }
25% { margin-left: -100%; }
45% { margin-left: -100%; }
50% { margin-left: -200%; }
70% { margin-left: -200%; }
75% { margin-left: -300%; }
95% { margin-left: -300%; }
100% { margin-left: -400%; }
}*/


/* -------> Responsive */
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  #content-slider .slider-thumb .head {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }

  #content-slider .slider .head {
    display: none;
  }

  #content-slider .slider-dot { display: none; }

  #content-slider .slider-arrow-control { display: block; }


  #content-slider #thumb-2:focus { opacity: 1; } 

  #thumb-2:focus ~ #thumb-5 { display: none; }

  #content-slider #thumb-3:focus { opacity: 1; } 

  #thumb-3:focus ~ #thumb-5 { display: none; }

  #content-slider #thumb-4:focus { opacity: 1; } 

  #thumb-4:focus ~ #thumb-5 { display: none; }

}

@media (max-width: 480px) {
  #content-slider .slider-thumb img { display: none; }
}

.hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: #222;
  border: 5px solid black;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

/* section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
} */

.footer-distributed {
  background-color: #a8e0bb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: black;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  /* background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%); */
}

.container form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #27ae60;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #2ecc71;
}